@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
font-family: 'Montserrat', sans-serif;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.container {
  position: relative;
  background-color: transparent !important; /* Ensure the main container's background doesn't overwrite the pseudo-element's */
}

.container::before {
  content: "";
  width: 100vw;
  background-image: url('/img/project/explorebg.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7; /* Adjust this to your desired opacity level */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; /* Ensure it's below the actual content */
}
/* styles.css or another CSS file */
@media (max-width: 768px) {
  .ReactModal__Content {
      width: 100% !important; 
      height: 90% !important;
  }
}
